<h1>Jobs Index</h1>
<br>
<table class="table table-striped">
	<th>Client</th>
	<th>Name</th>
	
	<th>Total time</th>
	<% @jobs.each do |a| %>
	<tr>
		<td><%= link_to a.client.name, client_path(a.client_id) %></td>
		<td><%= link_to a.name, job_path(a) %></td>
		<% a.blocks.each do |l| %>
		<% if l.live == true %>
		<% @tot += l.time / 60%>
		<% end %>
		
		<% end %>
		<td><%= @tot %></td>
		
	
	</tr>
	<% end %>
</table>

