<div class="jumbotron">
	<h2>About</h2>
</div>

<p>This site is about time management. More specifically it aims to do two things: allow you to work out how much time you're spending on projects. And two, work out how much money that work is making for you and whether it is worth your while.</p>