<% @blocks.each do |a| %>
<ul>
	<li><strong>Block description: </strong><%= link_to a.des, block_path(a) %></li>
	<li><strong>Job name:</strong> <%= a.job.name %></li>
	<li><strong>Client name:</strong> <%= a.job.client.name %></li>
	<li><strong>Time:</strong><%= a.time %></li>
</ul>
<% end %>

<p>Add Kaminari here to paginate</p>